/* fonts */
@font-face {
    font-family: Futura PT;
    src: url(../assets/fonts/Futura.ttf);
}
@font-face {
    font-family: baskerville;
    src: url(../assets/fonts/baskerville\ regular.woff);
}
/* body styling */
body {
    width: 100%;
    height: auto;
    background-color: var(--main-background-color);
    font-family: Futura PT;
}
/* main page styling */
.main {
    width: 100%;
    height: auto;
}
/* styling for order grid */
.order__grid {
    height: auto;
    display: grid;
    grid-template-columns: repeat(4);
    grid-template-rows: repeat(6);
    padding: 1rem 2rem;
    gap: 2rem;
}
/* button back styling */
.back__button {
    background-color: var(--button-color);
    color: var(--primary-font-color);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 1.563rem;
    border-radius: 20px;
    width: fit-content;
    grid-column: 1/2;
    grid-row: 1/2;
}
/* hover effect */
.back__button:hover,
.back__button:active {
    background-color: var(--button-color-active);
    transition: color 0.3s linear;
}
/* Headers styling */
.order__header {
    font-weight: 300;
    font-size: 3.125rem;
    color: var(--primary-font-color);
    grid-column: 2/3;
    grid-row: 1/2;
}
.form__contact-header {
    font-weight: 300;
    font-size: 1.563rem;
    color: var(--secondary-font-color);
}
/* styling section 1 form */
.contact__section-1 {
    width: 100%;
    /* min-height: 100vh; */
    height: auto;
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
}
/* styling header */
.form__payment-header {
    font-weight: 300;
    font-size: 1.563rem;
    color: var(--secondary-font-color);
}
/* styling section 2 form */
.contact__section-2 {
    width: 100%;
    /* min-height: 100vh; */
    height: auto;
    display: flex;
    grid-column: 2/3;
    grid-row: 3/4
}
/* styling header */
.form__other-header {
    font-weight: 300;
    font-size: 1.563rem;
    color: var(--secondary-font-color);
}
/* styling section 3 form */
.contact__section-3 {
    width: 100%;
    /* min-height: 100vh; */
    height: auto;
    display: flex;
    grid-column: 2/3;
    grid-row: 4/5
}
/* contact form styling */
.contact__form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact__form-label,
.contact__form-input {
    display: block;
}
.contact__form-input {
    padding-left: 0.5rem;
}
.contact__form-label::after {
    content: "*";
}
.contact__form-label {
    font-weight: 300;
    font-size: 1.25rem;
    color: var(--primary-font-color);
}
.contact__form-input {
    width: 100%;
    height: 2rem;
    border: 1px solid var(--secondary-font-color);
    border-radius: 10px;
    font-family: baskerville;
    font-weight: 300;
    font-size: 1.125rem;
    color: var(--primary-font-color);
}
.contact__form-label-radio {
    font-weight: 300;
    font-size: 1.25rem;
    color: var(--primary-font-color);
    display: inline;
}
.contact__form-input-radio {
    font-family: baskerville;
    font-weight: 300;
    font-size: 1.125rem;
    color: var(--primary-font-color);
    display: inline;
}
/* order button styling */
.order__button {
    background-color: var(--button-color);
    color: var(--primary-font-color);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 1.563rem;
    border-radius: 20px;
    width: fit-content;
    grid-column: 3/4;
    grid-row: 5/6;
    border: none;
    cursor: pointer;
}
/* hover effect */
.order__button:hover,
.order__button:active {
    background-color: var(--button-color-active);
    transition: color 0.3s linear;
}

/* media queries */
@media screen and (max-width: 860px) {
    .back__button {
        font-size: 1.25rem;
    }
    .order__header {
        font-size: 2.5rem;
    }
    .order__button {
        font-size: 1.25rem;
    }
}
@media screen and (max-width:745px) {
    .back__button {
        font-size: 1.125rem;
    }
    .order__header {
        font-size: 1.875rem;
    }
    .order__button {
        font-size: 1.125rem;
    }
    .form__contact-header {
        font-size: 1.25rem;
    }
    .form__payment-header {
        font-size: 1.25rem;
    }
    .form__other-header {
        font-size: 1.25rem;
    }
    
}